/* rg.infocard search styles */
.listing.collection-listing {
  width:100%;
  margin:auto;
}
div.formControls {
  margin:0;
  margin-top: 1.35em;
  width:20%;
  float:right;
}
.formControls > input {
  margin-right:2em;
}
.field {
  width:20%;
  float:left;
  clear:none;
}
